html {
	background-color: lightgrey;
	font-family: arial;
}

h1, h2, h3, h4{
	color: darkblue;
}

button.link {
	border:none;
	background:none;
}

button {
	/*background-image: url("button.png");*/
	color: yellow;
	background-color: darkblue;
}

#instructions {
	text-align: center;
}

.help {
	color: blue;
}

.hidden {
	display: none;
}